body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 30%;
    background-color: #0078d4;
    color: white;
    padding: 10px 16px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005a9e;
}

#qrcode {
    text-align: center;
    margin: 20px 0;
}
.github-link {
    margin-top: 20px;
    text-align: center;
}

.github-link a {
    display: inline-block;
    text-decoration: none;
    color: #333; /* GitHub-Dunkelgrau */
    font-weight: bold;
}

.github-link img {
    vertical-align: middle;
    margin-right: 8px;
}
.help-container {
    margin-bottom: 20px;
}

.help-button {
    background-color: #d4b400;
    color: white;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.help-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.button-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Sorgt dafür, dass Buttons auf kleinen Bildschirmen umgebrochen werden */
    gap: 10px; /* Fügt einen kleinen Abstand zwischen den Buttons hinzu */
}

.button-group button {
    flex-grow: 1; /* Lässt die Buttons die verfügbare Breite ausnutzen */
}
